#tactical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    user-select: none; 
}

#tactical > h1 {
    margin: 3rem 0 1em 6rem;
}

#tactical .tactical_gantt {
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow-x: scroll;
    cursor: grab;
    transform: scale(0.99);
    transition: all .3s ease;
}
/* CSS MARTAs VERSION */
#tactical .diagram_container {
     display: flex;
    align-items: flex-start;
}

#tactical .tactical_msn_cards {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 12%;
}

#tactical .tactical_bar {
    display: flex;
    align-items: flex-start;
    margin-left: 6rem;
}
.calendar-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.calendar-button img {
    width: 1.2rem; /* Ajusta el tamaño según sea necesario */
    height: 1.2rem; /* Ajusta el tamaño según sea necesario */
    
}
  /* Estilos para centrar el modal */
.modal-calendar {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1; /* En frente de otros elementos */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: none;
}

/* Estilos para el fondo oscuro */
.modal-backdrop {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* FIN CSS MARTAs VERSION */

/* #tactical .tactical_gantt > img {
    height: 70vh;
    transform: scale(0.99);
} */


#tactical > div {
    width: 100%;
    position: relative;
}

#tactical .tactical_gantt > img {
    width: 230rem;
}

#tactical .tactical_gantt.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

#tactical > div > .tactical__blurred {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-shadow: 5px 5px 40px 40px rgba(255, 255, 255, 0.7), inset 0px 0px 0px 46px rgba(255, 255, 255, 0.64); 
    box-shadow: 5px 5px 40px 40px rgba(255, 255, 255, 0.7), inset 0px 0px 0px 46px rgba(255, 255, 255, 0.64);
}


@media(max-width:500px) {
    #tactical {
        align-items: center;
        padding-top: 2rem;
        gap: 1rem;
    }

    #tactical > h1 {
        margin: 0;
    }

    #tactical .tactical_gantt > img {
        width: 240rem;
    }
}
